<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">

    <div class="page-title dark-background" th:style="|background-image: url('@{/walpaper/misc-3.webp}');|">
        <div class="container position-relative">
            <h1>500</h1>
            <p>Eroare la server.</p>
            <nav class="breadcrumbs">
                <ol>
                    <li><a th:href="@{/Itravel}">Acasă</a></li>
                    <li class="current">500</li>
                </ol>
            </nav>
        </div>
    </div>

    <section class="error-500 section">
        <div class="container text-center">
            <h1 class="error-code">500</h1>
            <h2 class="error-title">Eroare Internă la Server</h2>
            <p class="error-text">Întâmpinăm o eroare neașteptată. Te rog încearcă mai târziu.</p>
            <a th:href="@{/Itravel}" class="btn btn-primary">Înapoi Acasă</a>
        </div>
    </section>

</div>
</html>
