<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">

    <div class="page-title dark-background" th:style="|background-image: url('@{/walpaper/walpaper-image.jpg}');|">
        <div class="container position-relative">
            <h1>Destination Details</h1>
            <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
            <nav class="breadcrumbs">
                <ol>
                    <li><a th:href="@{/Itravel}">Home</a></li>
                    <li class="current">Destination Details</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <section  class="py-5">

 <form role="form" th:action="@{/Itravel/new}" th:object="${calatorii}" method="post" enctype="multipart/form-data">
     <div class="form-group">
         <label for="inputName">Name</label>
         <input type="text" class="form-control" id="inputName" th:field="*{name}" placeholder="Name">
     </div>

     <div class="form-group">
         <label for="inputLastname">Last Name</label>
         <input type="text" class="form-control" id="inputLastname" th:field="*{lastname}" placeholder="Last Name">
     </div>

     <div class="form-group">
         <label for="inputEmail">Email</label>
         <input type="email" class="form-control" id="inputEmail" th:field="*{email}" placeholder="name@example.com">
     </div>

     <div class="form-group">
         <label for="inputPhone">Phone</label>
         <input type="text" class="form-control" id="inputPhone" th:field="*{phone}" placeholder="Phone">
     </div>

     <div class="form-group">
         <label for="inputTitle">Title</label>
         <input type="text" class="form-control" id="inputTitle" th:field="*{title}" placeholder="Title">
     </div>

     <div class="form-group">
         <label for="inputDescription">Description</label>
         <textarea class="form-control" id="inputDescription" th:field="*{description}" rows="4" placeholder="Description"></textarea>
     </div>

     <div class="mb-3">
         <label class="form-label">Imagine</label>
         <input type="file" class="form-control" name="imagine" accept="image/*" required>
     </div>

     <button type="submit" class="btn btn-primary mt-3">Create Vacation</button>
 </form>
 </section>
</div>
</html>